<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Reminder_WPF.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <userSettings>
    <Reminder_WPF.AppSettings>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAppOnWindowsStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_Host" serializeAs="String">
        <value>fixitmanmike2.ddns.net</value>
      </setting>
      <setting name="API_Port" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="API_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="API_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="API_RememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="API_Token" serializeAs="String">
        <value>empty</value>
      </setting>
      <setting name="API_TokenExpiration" serializeAs="String">
        <value />
      </setting>
    </Reminder_WPF.AppSettings>
  </userSettings>
</configuration>